@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 95%;
    margin: 0 auto;
}

#container1 {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-top: 160px;
    gap: 10px;
}

.home {
    margin-top: 10px;
}

/* voltar ao inicio */
#voltar {
    display: flex;
    flex-direction: row;
    width: 76%;
}

#back {
    font-family: "Average", serif;
    font-weight: 400;
    padding-top: 15px;
    font-style: normal;
    color: #9B5377;
    font-size: 19px;
    padding-left: 10px;
}

/* Toda estilização dentro do menu do adm */
#menuAdm {
    display: flex;
    flex-direction: column;
    height: 440px;
    border-radius: 5px;
    border: 1px solid #e6c7d0;
}

#menuText {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 25px;
    color: #9B5377
}

#titulo {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #633636;
    padding-bottom: 5px;
    padding-top: 25px;
    padding-right: 20px;
}

/* navegadores */
.navAdm {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: #9B5377;
    padding-bottom: 25px;
    text-align: justify;
    font-size: 15px;
    cursor: pointer;
}

.navAdm:hover {
    text-decoration: none;
    color: #AE4B67;

}

#icon {
    color: #9b5377;
    height: 37px;
    margin-top: 3px;
}

/* container da tabela */
#titulo2 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    color: #633636;
    font-weight: bold;
    margin-top: 10px;
    width: auto;
}

#titulo22 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    color: #633636;
    font-weight: bold;
    margin-top: 10px;
    width: auto;
    padding-right: 68%;
}

.container2 {
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 100%;
}

#container2 {
    height: 40px;
}

#table {
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e6c7d0;
    padding-left: 40px;
    padding-top: 20px;
}

.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    z-index: 2;
    color: #9B5377;
}

form {
    display: flex;
    flex-direction: row;
}

.formCup{
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* textos */

label {
    font-family: Arial, sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #9B5377;
}

input {
    background-color: #f6f4f1;
    border: #e6c7d0 2px solid;
    width: 95%;
    height: 31px;
    padding-left: 15px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* css da tabela */
#tbl-categorias {
    display: block;
    overflow-y: scroll;
    height: 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    font-family: Arial, sans-serif;
    text-align: left;
}

#desc {
    width: 100%;
}

thead tr th {
    padding: 12px;
    border-right: 2px solid #FAADD1;
}

thead th {
    padding: 12px;
    border-right: 2px solid #FAADD1;
}

tbody tr th,
tbody tr td {
    padding: 12px;
    border-right: 2px solid #FAADD1;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody tr th,
tbody tr td {
    padding: 12px;
}

tbody tr th {
    font-weight: normal;
    color: #333;
}

#dados {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#link {
    color: black;
}

thead th:last-child,
tbody td:last-child,
tbody th:last-child {
    border-right: none;
}

td {
    text-align: center;
    width: 14%;
}

.tituloTd {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #9B5377;
}

.dados {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

#tbl-cupons {
    display: block;
    overflow-y: scroll;
    max-height: 620px;
}

/* btn */

.bi {
    color: #88394f !important;
}

#btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    width: 50%;
}

button {
    margin-top: 30px !important;
    width: 200px !important;
}

.btn,
.btn-secondary,
.btn-primary {
    width: 195px;
    margin: auto;
}

.btn-primary {
    background-color: #AE4B67 !important;
    border: none !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(174, 75, 103, 0.446) !important;
    border-color: rgba(255, 0, 0, 0.5) !important;
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(41, 31, 34, 0.446) !important;
    border-color: rgba(145, 123, 123, 0.5) !important;
}

.btn-secondary {
    background-color: #484445 !important;
    border: none !important;
}

.cancel {
    background-color: #5a6268 !important;
}

.delete-changes {
    background-color: #828d95 !important;
}

.delete-changes:hover {
    background-color: #3e4449 !important;
}

.form-control {
    background-color: #f5e9ec !important;
    border-color: #e6c7d0 !important;
}

.form-control:focus {
    background-color: #f5e9ec !important;
    box-shadow: 0 0 0 0.2rem rgba(174, 75, 103, 0.446) !important;
    border-color: #e6c7d0 !important;
}

.form-control::-ms-expand {
    background-color: #fff;
    /* change background color of dropdown arrow */
    color: #333;
    /* change text color of dropdown arrow */
}

.form-control {
    max-width: 300px;
}

/* footer */
footer {
    width: 100%;
}

#ondasFooter {
    width: 100%;
    bottom: 0;
    display: block;
    height: 55px;
    /* position: absolute; */
}

/* modal detalhes */

.modal-body {
    display: flex;
    flex-direction: column;
}

.inputModal {
    width: 100%;
}

.labelModal {
    color: #633636
}

#exampleModalLongTitle {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #633636;
    padding-top: 40px;
}

.modal-header {
    height: 50px !important;
}

.modal-footer {
    height: 80px !important;
}

.elementosModal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e6c7d0;
    width: 100%;
    height: 0px;
}

.modal-content input[type="text"] {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #666;
}

.modal-content input[type="text"]:disabled {
    background-color: #e9ecef;
    color: #000000;
}

.btns {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-secondary,
.btn-secondary {
    width: 200px;
    margin: auto;
    margin-bottom: 15px;
}

svg{
    cursor: pointer;
}