* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
}

/* imagens do header */

#logo {
    position: absolute;
    top: 40px;
    left: 150px;
    z-index: 2;
}

#ondas-rosa {
    width: 100%;
    height: 300px;
    z-index: 1;
}

img {
    width: 140px;
    height: 140px;
}

/* linha rosa */

hr {
    border: none;
    height: 2px;
    background-color: #AE4B67;
    box-shadow: 0 1px 3px 0px #AE4B67;
    z-index: 3;
    width: 100%;
    position: absolute; 
    top: 180px; 
    left: 0;
}

/* icones e escrito */

#bemVinda {
    color: #9b5377;
    font-size: 20px;
}

#icon {
    color: #633636;
}

#icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}