* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-style: normal;
    color: #AE4B67;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 17px;
    margin-top: 120px;
    padding: 50px;
    width: 50px;
    height: 50px;
    margin-left: 700px;
}


#space {
    padding: 100px;
}

#procurar {
    border-radius: 5px;
    width: 300px;
    height: 35px;
    padding: 5px;
    margin-left: 30px;
    background-color: #f5e9ec;
    border-color: #f5e9ec;
    color: #633636;
    border: 1px;
    font-size: 18px;
}

.input {
    position: relative;
}

#lupa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 300px;
}

#filtros {
    font-family: "Cormorant Upright", serif;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
    color: black;
    font-family: "Cormorant Upright", serif;
    font-weight: 300;
    font-style: normal;
    margin: 12px;
    font-size: 17px;
    margin-left: 20px;
}

/* From Uiverse.io by alexruix */
.card {
    width: 165px;
    height: 280px;
    padding: 10px;
    background: #fff;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    justify-content: center;
    align-items: center;
}

.card-img {
    background-color: #AE4B67;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}

.card-info {
    padding-top: 10%;
}

svg {
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    padding-inline: 50px;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    padding-right: 10px;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/*Button*/
.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
    transform: translateY(-25%);
    box-shadow: #AE4B67 0px 13px 47px -5px, #F784B9 0px 8px 16px -8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-button:hover {
    border: 1px solid #F784B9;
    background-color: #F784B9;
}


.container2 {
    display: flex;
    flex-direction: row;
    gap: 45px;
}