* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-style: normal;
    color: #AE4B67;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

main {
    box-sizing: border-box;
    flex: 1;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#cardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: auto;

}

#links {
    width: 50px;
    height: 50px;
}

#cardGrid {
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(270px, 4fr));
    gap: 10px;
}

.card {
    margin: 10px;
}


#space {
    padding: 100px;
}

#procurar {
    border-radius: 5px;
    width: 300px;
    height: 35px;
    padding: 5px;
    margin-left: 30px;
    background-color: #f5e9ec;
    border-color: #f5e9ec;
    color: #633636;
    border: 1px;
    font-size: 18px;
}

.input {
    position: relative;
}

#lupa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 300px;
}

#filtros {
    font-family: "Cormorant Upright", serif;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
    color: black;
    font-family: "Cormorant Upright", serif;
    font-weight: 300;
    font-style: normal;
    margin: 12px;
    font-size: 17px;
    margin-left: 20px;
}

.card-img {
    max-width: 80%;
    height: 30px;
    border-radius: 20px;
}

.svg-icon {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    padding-inline: 50px;
    gap: 15px;
}

.container4 {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2 {
    display: flex;
    flex-direction: row;
    gap: 45px;
    margin-top: 150px;
    height: 1000px;
}

img.card-img-top {
    width: 150px !important;
    height: 200px !important;
}

/* carrinho */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.product-image {
    width: 100%;
    /* A imagem ocupará 100% da largura do contêiner */
    height: 200px;
    /* Altura fixa para as imagens */
    object-fit: cover;
    /* Ajusta a imagem sem distorcer, cortando se necessário */
    border-radius: 8px;
    /*arredonda os cantos da imagem */
    padding: 10px;
    margin-top: 10px;
}

#bot {
    padding: 10px;
    font-size: 17px;
    margin-left: 150px;
    border: 1px;
    border-radius: 5px;
    border-color: #AE4B67;
    text-decoration: none;
    color: #050505;
    background-color: #AE4B67;
    width: 140px;
    margin-bottom: 10px;
}

#set {
    border: none;
    background-color: #fff;
    padding: 5px;
    margin-left: 40px;
}

/* Define a lista e os itens do carrinho */
#cart-list {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Imagem do produto */
.cart-item-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 4px;
}

/* Nome e preço do produto */
.cart-item-info {
    flex-grow: 1;
}

/* Input de quantidade */
.cart-item-quantity {
    width: 50px;
    margin-right: 10px;
}

/* Botão de remover */
.cart-item-remove {
    background-color: #fb7575;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}