@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 95%;
    margin: 0 auto;
}

/* Footer */
footer {
    width: 100%;
}

#ondasFooter {
    width: 100%;
    bottom: 0;
    display: block;
    height: 55px;
    position: absolute;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    overflow-y: scroll;
    max-height: 400px;
    display: block;
}

thead {
    background-color: #b9648e;
    color: #fff;
    font-weight: bold;
}

thead tr th {
    padding: 12px;
    border-right: 1px solid #FAADD1;
}

thead th:last-child {
    border-right: none;
}

tbody tr {
    transition: background-color 0.2s ease;
}

tbody tr:nth-child(even) {
    background-color: #f9f3f5;
}

tbody tr:hover {
    background-color: #f0e2e5;
}

tbody td,
tbody th {
    padding: 12px;
    border-right: 1px solid #FAADD1;
    color: #333;
}

tbody td:last-child,
tbody th:last-child {
    border-right: none;
}

tbody tr th {
    font-weight: normal;
    color: #ffffff;
}

/* Estilos das colunas */
#iconesTh {
    width: 120px;
}

#qtdeCat,
#preco {
    width: 130px;
    text-align: center;
}


/* Botão de cadastrar */
#cadastrarNovo {
    color: #9B5377;
    font-weight: bold;
}

/* Estilos para as fontes */
#dados,
#titulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

#titulo {
    padding-left: 13px;
}

#link {
    color: black;
}

/* Parte de cima */
#container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
}

#voltar {
    display: flex;
    flex-direction: row;
    width: 76%;
}

#back {
    font-family: "Average", serif;
    font-weight: 400;
    padding-top: 15px;
    color: #9B5377;
    font-size: 19px;
}

#dados {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 5%;
}

/* Container da tabela */
#container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
}

#titulo2 {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: bold;
    color: #633636;
    margin-right: 25px;
}

#pesquisa {
    border: none;
    background-color: #f5e9ec;
    border-radius: 5px;
    height: 35px;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    color: #633636;
    padding-left: 15px;
    width: 800px;
}

#pesquisa:focus {
    border: none;
    outline: none;
}

#groupSearch {
    display: inline-block;
    position: relative;
}

.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    z-index: 2;
    color: #9B5377;
}

.fas {
    color: #9b5377;
    font-size: 16px;
}

/* Tabela e ícones */
#iconsTable {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo adicional para a tabela */
#table {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #e6c7d0;
}

.email {
    width: 100%;
}

/* modal */

label {
    width: 100%;
}

.modal-content input[type="text"] {
    width: 100%;
    padding:4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #666;
}

.modal-content input[type="text"]:disabled {
    background-color: #e9ecef;
    color: #000000;
}