<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/partials/footer.css">
</head>

<body>

    <footer>
        <hr id="doFooter">
        <div class="Footer">

            <div id="icones">
                <h3>Conheça nossas redes!</h3>
                <a href="#" class="icon">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="icon">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
            <img id="ondasFooter" src="../img/ondas-footer.png" alt="">
        </div>
    </footer>

</body>

</html>