<img id="ondas-rosa" src="../img/ondas-rosa.png">

<nav>

    <div id="conteudoHeader">

        <div id="logo"><img id="logoD" src="../img/Duane.png" alt="DuaneSemijoias"></div>

        <div id="boxHeader">

            <span id="bemVinda">Bem vinda!</span>

            <div id="icons">
                <a href="/web/publico/html/login.html">
                    <span id="icon" class="fas fa-user fa-2x"></span>
                </a>

                <button onclick="openCartModal()" class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><span id="icon"
                        class="fas fa-shopping-cart fa-2x"></span></button>
            </div>


        </div>

    </div>

    <hr>

</nav>