<img id="ondas-rosa" src="../img/ondas-rosa.png">

<nav>

    <div id="conteudoHeader">

        <a href="/web/publico/html/home.html">
            <div id="logo"><img id="logoD" src="../img/Duane.png" alt="DuaneSemijoias"></div>
        </a>

        <div id="boxHeader">

            <span id="bemVinda">Bem vinda!</span>

            <div id="icons">
                <a href="/web/publico/html/login.html">
                    <span id="icon" class="fas fa-user fa-2x"></span>
                </a>

                <button onclick="openCartModal()" class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><span id="icon"
                        class="fas fa-shopping-cart fa-2x"></span></button>

                <span id="icon" id="logout" class="fas fa-sign-out-alt fa-2x" onclick="logout()"></span>
            </div>


        </div>

    </div>

    <hr>

</nav>

<script>
    async function logout() {
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = 'login.html';
            return;
        }
        try {
            const resposta = await axios.get('http://10.0.3.77:3000/logout', {
                headers: {
                    'x-access-token': `${token}`
                }
            });
            if (resposta.data.message === "Token inválido") {
                window.location.href = 'login.html';
            }
        } catch (error) {
            console.error('Erro ao verificar o token:', error);
            window.location.href = 'login.html';
        }
    }
</script>