<img id="ondas-rosa" src="../img/ondas-rosa.png">

<nav>
    <div id="conteudoHeader">

        <div id="logo"><img id="logoD" src="../img/Duane.png" alt="DuaneSemijoias"></div>

        <div id="boxHeader">
            <div id="icons">
                <span id="iconH" class="fas fa-shopping-cart fa-2x">
                    <a href="../carrinho.html"></a>
                </span>
                <span id="logout" class="fas fa-sign-out-alt fa-2x" onclick="logout()"></span>
            </div>

        </div>

    </div>

    <hr>

</nav>

<script>
    async function logout() {
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = 'login.html';
            return;
        }
        try {
            await axios.get(`${localStorage.getItem("ip")}logout`, {
                headers: {
                    'x-access-token': `${token}`
                }
            }).then(response => {
                if (response.data.message === "Token inválido") {
                    localStorage.removeItem('token');
                    localStorage.removeItem('userProfile');
                    localStorage.removeItem('cart');
                    window.location.href = 'login.html';
                }
            }).catch(error=>{
                console.log(error)
            });
        } catch (error) {
            console.log("aqui error");
            console.error('Erro ao verificar o token:', error);
            window.location.href = 'login.html';
        }
    }
</script>