<img id="ondas-rosa" src="../img/ondas-rosa.png">

<nav>

    <div id="conteudoHeader">

        <div id="logo"><img src="../img/Duane.png" alt="DuaneSemijoias"></div>

        <div id="boxHeader">

            <div id="icons" onclick="logout()">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                    class="bi bin bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                    <path fill-rule="evenodd"
                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                </svg>

            </div>

        </div>

    </div>

    <hr>

</nav>

<script>

    async function logout() {
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/home.html';
            return;
        }
        
        try {
            await axios.get(`${localStorage.getItem("ip")}logout`, {
                headers: {
                    'x-access-token': `${token}`
                }
            }).then(response => {
                console.log("ksnskdnslkd")

                if (response.data.message === "Token inválido") {
                    localStorage.removeItem('token');
                    localStorage.removeItem('userProfile');
                    localStorage.removeItem('cart');
                    window.location.href = 'home.html';

                }
            }).catch(error => {
                console.log(error)
            });

        } catch (error) {
            console.log("aqui error");
            console.error('Erro ao verificar o token:', error);
            window.location.href = '/home.html';
        }
    }
</script>