<img id="ondas-rosa" src="../img/ondas-rosa.png">

<nav>

    <div id="conteudoHeader">

        <a href="home.html">
            <div id="logo"><img id="logoD" src="../img/Duane.png" alt="DuaneSemijoias"></div>
        </a>

        <div id="boxHeader">

            <div id="icons">
                <a href="login.html">
                    <span id="icon" class="fas fa-user fa-2x"></span>
                </a>
                <span id="icon" id="logout" class="fas fa-sign-out-alt fa-2x" onclick="logout()"></span>
                <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling">
                    <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                </button>
            </div>

        </div>

    </div>

    <hr>

</nav>

<script>
    

    async function logout() {
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = 'home.html';
            return;
        }
        try {
            await axios.get(`${localStorage.getItem("ip")}logout`, {
                headers: {
                    'x-access-token': `${token}`
                }
            }).then(response => {
                console.log("aqui", response)
                if (response.data.message === "Token inválido") {
                    console.log("aqui");

                    localStorage.removeItem('token');
                    localStorage.removeItem('userProfile');
                    window.location.href = 'home.html';
                }
            }).catch(error => {
                console.log(error)
            });

        } catch (error) {
            console.log("aqui error");

            console.error('Erro ao verificar o token:', error);
            window.location.href = 'login.html';
        }
    }
</script>